/* Global styles */
html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header */
header {
    background-color: #fff;
    height: 7rem;
}

main {
    flex-grow: 1;
}

/* Footer */
footer {
    background-color: #fff;
    height: 7rem;  
}

.footer-link-next__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
}

.footer-link-number {        
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    align-self: flex-start;
    margin-top: 1rem;
    text-decoration: none;
}

.fa-angle-down, .fa-angle-up {
    text-decoration:none; 
}


/* NAV */

nav {
    align-self: flex-end;
    margin-bottom: 1rem;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin: 0 5px;
}

nav a {
    font-size: 0.9em;
    text-decoration: none;
    color: #000;
}

nav a:hover {
    color: #555;
}
  